{% import "bootstrap/utils.html" as utils %}
{% extends "layout.html" %}
{% block title %}
<title>Jobs</title>
{% endblock %}

{% block main %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Jobs</h1>
        <div class="center">
          <div style="text-align: center">
            <a href="{{ url_for('home.post') }}" class="btn btn-default btn-lg">
              <i class="fa fa-plus"></i>
              Add Job Vacancy
            </a>
          </div>
        </div>
        {% if jobs %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th > Company Name </th>
                  <th > Position </th>
                  <th > Description </th>
                  <th > Apply </th>
                </tr>
              </thead>
              <tbody>
              {% for job in jobs %}
                <tr>
                  <td> {{ job.company }} </td>
                  <td> {{ job.position }} </td>
                  <td> {{ job.description }} </td>
                  <td>
                    <a href="{{ url_for('home.apply', id=job.id) }}">
                      <i class="fa fa-pencil"></i> Apply
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> Currently no Vacant jobs have been posted. </h3>
            <hr class="intro-divider">
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
